body {
    padding: 0;
    margin: 0;
    min-width: 1000px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#70AEFF, #B6C4D6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header li,
footer li {
    list-style: none;
}

header nav {
    display: flex;
    align-items: center;
    background-color: #003087;
    height: 75px;
    padding: 0 15px;
    margin: 0;
}

header nav .logo {
    height: 45px;
    margin-right: auto;
}

header nav .cart {
    height: 40px;
    margin-right: 30px;
    margin-left: 220px;
    color: white;
    font-weight: bold;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex grow 1 para que el ul ocupe el espacio entre el logo y el borde derecho del nav.*/
    flex-grow: 1;
    margin-left: 150px;
}

header nav ul li a,
.tabs li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 0 29px;
    display: block;
}

.tabs li a {
    font-size: 20px;
    margin: auto 25px;
}

nav a:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/*asentuacion cromatica de la pestaña seleccionada */

.home {
    transform: scale(1.05);
    color: #FFB81C !important;
}

.productos {
    transform: scale(1.05);
    color: #FFB81C !important;
}

.contact {
    transform: scale(1.05);
    color: #FFB81C !important;
}

/*ocultamos el total*/
.hidden {
    display: none;
}

/* ------------------------------------------------------ */

/* contact */
.container li {
    list-style-type: decimal;
    margin: 5px 20px;
}

.container li a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: auto;
}

.left {
    display: flex;
    justify-content: flex-start;
    width: 60vw;
}

form h4 {
    margin: 10px auto;

}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 550px;
    margin-right: 100px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

.right p {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
}

/*texto centrado en los inputs*/

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    text-align: center;
    display: block;
    margin: 10px auto;
    width: 60%;
    border-radius: 20px;
    border-style: none;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
    height: 30px;
}

textarea {
    height: 280px;
    padding: 10px 0px;
}

button, .btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #003087;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

/* ------------------------------------------------------ */

/* footer 'responsive' */
footer {
    width: 100%;
    height: 7%;
    background-color: #0072CE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

footer ul li a {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: auto 29px;
    align-items: center;
    margin-top: 10px;
}