body {
    padding: 0;
    margin: 0;
    min-width: 1000px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#70AEFF, #B6C4D6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style: none;
}

header nav {
    display: flex;
    align-items: center;
    background-color: #003087;
    height: 75px;
    padding: 0 15px;
    margin: 0;
}

header nav .logo {
    height: 45px;
    margin-right: auto;
}

header nav .cart {
    height: 40px;
    margin-right: 30px;
    margin-left: 220px;
    color: white;
    font-weight: bold;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex grow 1 para que el ul ocupe el espacio entre el logo y el borde derecho del nav.*/
    flex-grow: 1;
    margin-left: 150px;
}

header nav ul li a,
.tabs li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 0 29px;
    display: block;
}

.tabs li a {
    font-size: 20px;
    margin: auto 25px;
}

nav a:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/*asentuacion cromatica de la pestaña seleccionada */

.home {
    transform: scale(1.05);
    color: #FFB81C !important;
}

.productos {
    transform: scale(1.05);
    color: #FFB81C !important;
}

.contact {
    transform: scale(1.05);
    color: #FFB81C !important;
}

/*ocultamos el total*/
.hidden {
    display: none;
}
/* ------------------------------------------------------ */

/* Oferta linkeada al html de productos*/
.offers {
    width: 75vw;
    max-width: 1500px;
    min-width: 750px;
    margin: 30px auto;
}

.offers:hover {
    transform: scale(1.05);
}

.offers img {
    width: 100%;
    border-radius: 40px;
}

/* justificado de los parrafos */
main article {
    padding: 31px;
    padding-top: 0px;
    margin: 0px 100px;
}

main article p {
    display: flex;
    text-align: justify;

}

/* ------------------------------------------------------ */

/* footer 'responsive' */
footer {
    width: 100%;
    height: 7%;
    background-color: #0072CE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

footer ul li a {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: auto 29px;
    align-items: center;
    margin-top: 10px;
}